<div class="row">
	<div class="col-lg-12">
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					{{ getComponentTitle() }}
        		</div>
        	<div class="d-flex flex-row-reverse">
				<div class="m-portlet__head-tools">
					<a [routerLink]="['/user/user-admin']" mat-raised-button color="primary"
					matTooltip="กลับไปหน้าแรก">กลับ</a>
				</div>
			</div>
      		</div>

			<form [formGroup]="UserformGroup" class="m-form m-form--label-align-right">
				<div class="m-portlet__body">
					<div class="m-form__section m-form__section--first">
						
            <div class="form-group m-form__group row">
				<label class="col-lg-2 col-form-label">ชื่อบัญชีผู้ใช้งาน:</label>
				<div class="col-lg-6">
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="กรุณาระบุ" formControlName="card_no">
									
						<mat-error>ชื่อบัญชีผู้ใช้งาน <strong>จำเป็นต้องระบุ</strong></mat-error>
					</mat-form-field>
				</div>
            </div>



			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-form-label">ชื่อ:</label>
				<div class="col-lg-6">
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="กรุณาระบุ" formControlName="first_name">
									
						<mat-error>ชื่อ <strong>จำเป็นต้องระบุ</strong></mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="form-group m-form__group row">
				<label class="col-lg-2 col-form-label">นามสกุล:</label>
				<div class="col-lg-6">
					<mat-form-field class="example-full-width">
						<input matInput type="text" placeholder="กรุณาระบุ" formControlName="last_name">
									
						<mat-error>นามสกุล <strong>จำเป็นต้องระบุ</strong></mat-error>
					</mat-form-field>
				</div>
			</div>
			
            <div class="form-group m-form__group row">
				<label class="col-lg-2 col-form-label">อีเมล์:</label>
				<div class="col-lg-6">
					<mat-form-field class="example-full-width">
						<input matInput type="email" placeholder="กรุณาระบุ" formControlName="email">
                    
                    	<mat-error>อีเมล์ <strong>จำเป็นต้องระบุ</strong></mat-error>
					</mat-form-field>
				</div>
			</div>

            

            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">รหัสผ่าน:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="กรุณาระบุ" formControlName="password"   >
                  
                  <mat-error>
					<span *ngIf="UserformGroup.controls.password.errors?.required"><strong>รหัสผ่าน</strong> ต้องการให้กรอก</span>
					<span *ngIf="UserformGroup.controls.password.errors?.minlength"><strong>รหัสผ่าน</strong> ต้องมีอย่างน้อย 4 ตัว</span>
				  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">ยืนยันรหัสผ่าน:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="กรุณาระบุ" formControlName="confirm_password" [errorStateMatcher]="matcher"  >
                  
                  <mat-error>
					<span *ngIf="UserformGroup.controls.confirm_password.errors?.required"><strong>ยืนยันรหัสผ่าน</strong> ต้องการให้กรอก</span>
					<span *ngIf="UserformGroup.controls.confirm_password.errors?.minlength"><strong>ยืนยันรหัสผ่าน</strong> minimum length is 6</span>                          
				  <mat-error><span *ngIf="UserformGroup.hasError('notSame')"><strong>ยืนยันรหัสผ่าน</strong>  ไม่ตรงกัน </span></mat-error>
				   </mat-error>
                </mat-form-field>
              </div>
            </div>
          

            
						</div>
					</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions">
						<div class="row">
							<div class="col-lg-2"></div>
							<div class="col-lg-6">
                				<button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>&nbsp; 
								<button mat-raised-button (click)="goBack()">ยกเลิก</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
