<div class="row">
  <div class="col-lg-12">
    <div class="m-portlet ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              {{ getComponentTitle() }}
                </div>
              <div class="d-flex flex-row-reverse">
            <div class="m-portlet__head-tools">
              <a [routerLink]="['/user/user-admin']" mat-raised-button color="primary"
              matTooltip="กลับไปหน้าแรก">กลับ</a>
            </div>
          </div>
              </div>
      
      <!-- <div class="m-portlet__body" style="min-height: 500px !important;"> -->
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab label="บัญชีส่วนตัว">
            <form [formGroup]="userformGroup" class="m-form m-form--label-align-right"  >
              <div class="m-portlet__body">
                <div class="row">
                  <div class="col-lg-6 offset-lg-2">
                    <!-- <m-pages-notice></m-pages-notice> -->
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ชื่อ / Firstname:</label>
                  <div class="col-lg-8">
                      <mat-form-field class="example-full-width">
                          <input type="text" matInput formControlName="first_name" >
                          <mat-error><strong>ชื่อ</strong> ต้องการให้กรอก</mat-error>
                      </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">นามสกุล / Lastname:</label>
                    <div class="col-lg-8">
                        <mat-form-field class="example-full-width">
                            <input type="text" matInput formControlName="last_name" >
                            <mat-error><strong>นามสกุล</strong> ต้องการให้กรอก</mat-error>
                        </mat-form-field>
                    </div>
                  </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">อีเมล / Email::</label>
                  <div class="col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input type="text" matInput formControlName="email">
                      <mat-error>
                        <span *ngIf="userformGroup.controls.email.errors?.required"><strong>อีเมล</strong> ต้องการให้กรอก</span>
                        <span *ngIf="userformGroup.controls.email.errors?.email"><strong>อีเมล</strong>is not valid</span>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ชื่อบัญชีผู้ใช้งาน: <br/><span style="color:red">ชื่อบัญชีผู้ใช้งานไม่สามารถเปลี้ยนแปลงได้</span></label>
                  <div class="col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input type="text" matInput formControlName="card_no" readonly>
                      <mat-error><strong>ชื่อบัญชีผู้ใช้งาน</strong> ต้องการให้กรอก</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                
              </div>
              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                  <button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>
                  <button mat-raised-button (click)="goBack()">ยกเลิก</button>
                </div>
              </div>
              </div>
              </div>
            </form>
          </mat-tab>

          <mat-tab label="รหัสผ่าน">
            <ng-template matTabContent>
                <m-user-admin-password-form></m-user-admin-password-form>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>