<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="m-portlet__head-caption">

          </div>
        </div>
      </div>
      <div class="m-portlet__body">
      <div class="m-form">

        <div class="m-form__filtration">
          <div class="row align-items-center">
            <div class="col-md-4 m--margin-bottom-10-mobile">
              <mat-form-field>
                <input matInput #searchInput placeholder="ค้นหา"
                  class="mat-form-field mat-form-field-fluid">
                <mat-hint align="start">
                  <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="mat-table__wrapper">
      <mat-table class="mat-table__wrapper" [dataSource]="dataSource" matSort matSortStart="asc"
        class="lmat-elevation-z8" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> รายการ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="exam_place">
          <mat-header-cell *matHeaderCellDef mat-sort-header> สถานที่สอบ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.exam_place}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="exam_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ช่วงเวลาสอบ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.exam_start_time.substr(0,5) + " - " + element.exam_end_time.substr(0,5)}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="exam_end_time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> เวลาหยุดสอบ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.exam_end_time.substr(0,5)}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="exam_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สอบ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.exam_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="seat_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header> เลขมี่นั่งสอบ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.seat_no ? element.seat_no : '-'}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
    </div>
    <div class="mat-table__bottom">
      <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
        [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
    </div>
    </div>
  </div>
  </div>
</div>