<div class="m-portlet">
	<div class="m-portlet__head m--bg-brand">
		<div class="m-portlet__head-progress">
			<!-- here can place a progress bar-->
			<mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
		</div>
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
				</span>
				<h3 class="m-portlet__head-text m--font-inverse-brand">
					{{data.title}}
				</h3>
			</div>
		</div>
	</div>
	<div class="m-portlet__body">

		<div class="col-lg-12">
			<span *ngIf="viewLoading">{{data.waitDesciption}}</span>
			<div *ngIf="!viewLoading" [innerHtml]="data.description"></div>
		</div>
		<div class="col-xl-12">
			<form [formGroup]="reasonformGroup">
				<mat-form-field class="example-full-width">
					<textarea matInput placeholder="ระบุสาเหตุ" [ngModel]="message" formControlName="reason"></textarea>
				</mat-form-field>
			</form>

		</div>

		<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
			<div class="m-form__actions m-form__actions--sm">
				<button mat-button (click)="onNoClick()">ยกเลิก</button>&nbsp;
				<button mat-button (click)="onYesClick()" color="primary" cdkFocusInitial
					[disabled]="viewLoading">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>