<div class="m-portlet">
	<div class="m-portlet__head m--bg-brand">
		<div class="m-portlet__head-progress">
			<!-- here can place a progress bar-->
			<mat-progress-bar mode="indeterminate" *ngIf="viewLoading"></mat-progress-bar>
		</div>
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
				</span>
				<h3 class="m-portlet__head-text m--font-inverse-brand">
					{{data.title}}
				</h3>
			</div>
		</div>
	</div>
	<div class="m-form">
		<div class="m-portlet__body">
			<div class="form-group m-form__group row">
				<div class="col-lg-12">
					<span *ngIf="viewLoading">{{data.waitDesciption}}</span>
					<div *ngIf="!viewLoading" [innerHtml]="data.description"></div>
				</div>
			</div>
			<form [formGroup]="formGroup" class="m-form m-form--label-align-right">
				<div class="form-group m-form__group row">
					<label class="col-lg-5"></label>
					<img style="padding-left: 15px" [src]="
						imageSrc ||
						imageUrl ||
						'./assets/app/media/img/data-master/picture.png'
					" alt="" height="250" width="300" />
				</div>
				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">รูปภาพ:</label>
					<div class="col-lg-6">
						<input class="form-control m-input"
							placeholder="Choose a picture" type="file" accept="image/*"
							(change)="onSelectFileImage($event)" (click)="checkSelectImage()" #fileInput />
					</div>
				</div>				
			</form>

		</div>
		<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit text-right">
			<div class="m-form__actions m-form__actions--sm">
				<button mat-button (click)="onNoClick()">ยกเลิก</button>&nbsp;
				<button mat-button (click)="onYesClick()" color="primary" cdkFocusInitial
					[disabled]="viewLoading">ยืนยัน</button>
			</div>
		</div>
	</div>
</div>