<!--begin::Signin-->
<!--<div class="m-login__signin">-->
<div class="m-login__title">
	<h3 translate="เข้าสู่ระบบ">เข้าสู่ระบบ</h3>
</div>

<m-auth-notice></m-auth-notice>

<!--begin::Form-->
<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
	<div class="form-group">
		<mat-form-field>
			<mat-label>หมายเลขบัตรประชาชน หรือ Passport หรือ รหัสนิสิต</mat-label>
			<input matInput type="text" name="card_no" autocomplete="off" [(ngModel)]="model.card_no"
			 #card_no="ngModel" card_no="true" required>
		</mat-form-field>
	</div>
	<div class="form-group">
		<mat-form-field>
			<mat-label>รหัสผ่าน</mat-label>
			<input matInput minlength="4" type="password" name="password" autocomplete="off" [(ngModel)]="model.password"
			 #password="ngModel" required>
		</mat-form-field>
	</div>
</form>
<!--end::Form-->

<!--begin::Action-->
<div class="m-login__action m-login__action--fit">
	<a href="javascript:;" (click)="forgotPasswordPage($event)" class="m-link">
		<span translate="ลืมรหัสผ่าน?">ลืมรหัสผ่าน?</span>
	</a>
	<m-spinner-button [options]="spinner" (click)="submit()">ยืนยันการเข้าสู่ระบบ</m-spinner-button>
</div>
<!--end::Action-->

<!--</div>-->
<!--end::Signin-->