<div class="row">
	<div class="col-lg-12">
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					{{ getComponentTitle() }}
				</div>
				<div class="d-flex flex-row-reverse">
					<div class="m-portlet__head-tools">
						<a [routerLink]="['../']" mat-raised-button color="primary" matTooltip="กลับไปหน้าแรก">กลับ</a>
					</div>
				</div>
			</div>

			<form [formGroup]="UserClientFormGroup" class="m-form m-form--label-align-right">
				<div class="m-portlet__body">
					<div class="m-form__section m-form__section--first">
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ประเภทบัตร:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="card_type" readonly>
								</mat-form-field>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">หมายเลขบัตร:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput formControlName="card_no" readonly>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ประเภทผู้สมัครสอบ:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="app_type" readonly>
									</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">รหัสนิสิต:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="stu_id" readonly>
									</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">คณะ:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="faculty" readonly>
									</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">สาขา:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="department" readonly>
									</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ระดับการศึกษา:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="level" readonly>
									</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">คำนำหน้า:</label>
							<div class="col-lg-6">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="title" readonly>
									</mat-form-field>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ชื่อ:</label>
							<div class="col-lg-6">

									<mat-form-field class="example-full-width">
										<input matInput formControlName="fname" readonly>
									</mat-form-field>

							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">นามสกุล:</label>
							<div class="col-lg-6">

									<mat-form-field class="example-full-width">
										<input matInput formControlName="lname" readonly>
									</mat-form-field>

							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">อีเมล:</label>
							<div class="col-lg-6">

									<mat-form-field class="example-full-width">
										<input matInput formControlName="email" readonly>
									</mat-form-field>

							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">เบอร์โทรศัพท์:</label>
							<div class="col-lg-6">

									<mat-form-field class="example-full-width">
										<input matInput formControlName="phone_number" readonly>
									</mat-form-field>

							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ที่อยู่ปัจจุบัน:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="address" readonly>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">จังหวัด:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="province" readonly>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">อำเภอ:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="district" readonly>
								</mat-form-field>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">ตำบล:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="sub_district" readonly>
								</mat-form-field>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">รหัสไปรษณีย์:</label>
							<div class="col-lg-6">
								<mat-form-field class="example-full-width">
									<input matInput type="text" formControlName="zipcode" readonly>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions">
						<div class="row">
							<div class="col-lg-6">
								<button mat-raised-button (click)="goBack()">ยกเลิก</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>