<div class="row">
	<div class="col-xl-12">
		<div class="m-portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					ผู้สมัครสอบ
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="m-form">
					<div class="m-form__filtration">
						<div class="row align-items-center">
							<div class="col-md-4 m--margin-bottom-10-mobile">
								<mat-form-field>
									<input matInput #searchInput placeholder="ค้นหา"
										class="mat-form-field mat-form-field-fluid">
									<mat-hint align="start">
										<strong>ค้นหาจากข้อมูลทั้งหมด</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<div class="mat-table__wrapper">
					<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
						matSortDirection="asc" matSortDisableClear>

						<ng-container matColumnDef="card_no">
							<mat-header-cell *matHeaderCellDef mat-sort-header> หมายเลขประจำตัว </mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.card_no}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="card_type">
							<mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทบัตร </mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.card_type_name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="email">
							<mat-header-cell *matHeaderCellDef mat-sort-header> อีเมล </mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.email}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="phone_number">
							<mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์โทรศัพท์ </mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.phone_number}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="first_name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.first_name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="last_name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>นามสกุล</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.last_name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>
								ดำเนินการ
							</mat-header-cell>
							<mat-cell *matCellDef="let item">
								<a [routerLink]="['/user/client/show']"
								[queryParams]="{id: item.id}" mat-icon-button color="primary" matTooltip="ดูรายละเอียด"> 
								<mat-icon>remove_red_eye</mat-icon>                    
								</a>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

					</mat-table>
					<div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
				</div>

				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"
						[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>
