<div class="row">
  <div class="col-xl-12 col-lg-8">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
      <div class="m-portlet__body">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab label="ข้อมูลส่วนตัว">
            <form [formGroup]="userForm" class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10 m--hide">
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">ข้อมูลส่วนตัว</h3>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ประเภทบัตร:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="ประเภทบัตร / Card Type" formControlName="card_type" required readonly>
                        <mat-option *ngFor="let element of cardtypesData" [value]="element.id">
                          {{element.card_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">หมายเลขบัตร:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="card_no" readonly>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ประเภทผู้สมัครสอบ:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="ประเภทผู้สมัครสอบ / Applicant type" formControlName="app_type" readonly>
                        <mat-option *ngFor="let element of apptypesData" [value]="element.id">
                          {{element.app_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="userlogin.app_type_id == 2">
                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">รหัสนิสิต:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="stu_id" readonly>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">คณะ:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-label>-- select --</mat-label>
                        <mat-select placeholder="คณะ / Faculty" formControlName="faculty_id" [(ngModel)]='faculty_id' (ngModelChange)="getDepartment(false)" required>
                          <mat-option *ngFor="let element of facultyData" [value]="element.id">
                            {{element.faculty_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">สาขา:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-label>-- select --</mat-label>
                        <!-- [(value)]="departmentData[0].id" -->
                        <mat-select placeholder="สาขา / Department" formControlName="depart_id" required>
                          <!-- <mat-option [value]="undefined">-select-</mat-option> -->
                          <mat-option *ngFor="let element of departmentData" [value]="element.id">
                            {{element.depart_name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="userForm.hasError('required')">
                          This field is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">ระดับการศึกษา:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-label>-- select --</mat-label>
                        <mat-select placeholder="ระดับการศึกษา / Level" formControlName="level_id" required>
                          <mat-option *ngFor="let element of levelData" [value]="element.id">
                            {{element.level_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">คำนำหน้า:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="คำนำหน้า / Title" formControlName="title" (ngModelChange)="otherTitle($event)" required>
                        <mat-option *ngFor="let element of titleData" [value]="element.id">
                          {{element.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div *ngIf="OtherTitle" class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">คำนำหน้าอืนๆ:</label>
                  <div class="col-lg-7">
                    <mat-form-field  class="example-full-width">
                      <input matInput placeholder="ระบุคำนำหน้าอืน" formControlName="other_title">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ชื่อ:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุชื่อ" formControlName="fname" required>
                      <mat-error>ชื่อ <strong>จำเป็นต้องระบุ</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">นามสกุล:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุนามสกุล" formControlName="lname" required>

                      <mat-error>นามสกุล <strong>จำเป็นต้องระบุนามสกุล</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">อีเมล์:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุอีเมล์" formControlName="email" required>

                      <mat-error>อีเมล์ <strong>จำเป็นต้องระบุ</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">เบอร์โทรศัพท์:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุเบอร์โทรศัพท์" formControlName="phone_number" required pattern ="0([0-9]{9})">
                      <mat-error>เบอร์โทรศัพท์ <strong>จำเป็นต้องระบุและต้องเป็นตัวเลขเท่านั้น</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ที่อยู่:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="ระบุที่อยู่" formControlName="address" matTextareaAutosize
                        matAutosizeMinRows=5 required></textarea>
                    </mat-form-field>
                  </div>
                </div>

                  <div *ngIf="userlogin.card_type_id == 1">
                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">จังหวัด:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-select placeholder="จังหวัด / Province" (ngModelChange)="getDis($event)"
                          formControlName="province">
                          <mat-option *ngFor="let element of ProvinceData" [value]="element.id">
                            {{element.prov_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">อำเภอ:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-select placeholder=" อำเภอ / District" (ngModelChange)="getSubDis($event)"
                          formControlName="district">
                          <mat-option *ngFor="let element of DistrictData" [value]="element.id">
                            {{element.dist_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">ตำบล:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <mat-select placeholder=" ตำบล / Sub District" (ngModelChange)="getZipcode($event)"
                          formControlName="sub_district">
                          <mat-option *ngFor="let element of SubdistrictData" [value]="element.id">
                            {{element.sub_district_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                

                  <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">รหัสไปรษณีย์:</label>
                    <div class="col-lg-7">
                      <mat-form-field class="example-full-width">
                        <input matInput type="text" formControlName="zipcode" value="{{ZipcodeData}}" readonly>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group m-form__group row">
              <label class="col-2 col-form-label">แผนที่:</label>
              <div class="col-7">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="ค้นหาตำแหน่ง" type="text" #search_place
                    (keydown.enter)="$event.preventDefault()">
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <div #map style="height: 400px;"></div>
                <p class="mt-0">{{place_label}}</p>
              </div>
            </div> -->
              </div>

              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-7">
                      <button class="btn btn-accent m-btn m-btn--air m-btn--custom"
                        (click)="onSumbit(false)">บันทึก</button>&nbsp;&nbsp;

                      <!-- <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="รหัสผ่าน">
            <ng-template matTabContent>
              <m-profile-password-form></m-profile-password-form>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>