// table{
//     width: 100%;
//    }
   
// mat-cell{
//   display:flex !important;
//   justify-content:center!important;
  
// } 

// mat-header-cell{
//   display:flex;
//   justify-content:center;
// }
.make_center {
  text-align: center;
}

.mat-row, .mat-header-row {  
  min-width: 280px;  
  width: 100%;  
}  
.mat-column-cost ,.mat-column-seat {
  display:flex !important;
  justify-content:center!important;
  }
.mat-column-action {
  flex: 0 0 13% !important;
  }
  //   .mat-column-register_open_date,.mat-column-register_close_date {
  //     flex: 0 0 30% !important;
  //     }
  // .mat-column-cost {
  //   display: flex;
  //   justify-content: flex-end;
  //   padding-right: 10px;
  //   padding-left: 24px;
  //   }
  //   .mat-table {
  //     overflow: auto;
  //   }
  // .mat-cell-action {

  //   flex: 0 0 13% !important;

  // }
// .mat-column-register_open_date {

//      flex: 0 0 20% !important;
//      width: 28% !important;

//    }
