<div class="row">
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="m-portlet__head-tools">
          <a [routerLink]="['/exam-data/exam-form']" mat-raised-button color="primary"
            matTooltip="เพิ่มข้อมูลใหม่">เพิ่ม</a>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-form">
          <div class="m-form__filtration">
            <div class="row align-items-center">
              <div class="col-md-4 m--margin-bottom-10-mobile">
                <mat-form-field>
                  <input matInput #searchInput placeholder="ค้นหา" class="mat-form-field mat-form-field-fluid">
                  <mat-hint align="start">
                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="mat-table__wrapper">
          <mat-table class="mat-table__wrapper" [dataSource]="dataSource" matSort matSortStart="desc"
            class="lmat-elevation-z8" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

            <!-- <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header > ลำดับ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container> -->

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> รายการ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="exam_type_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ประเภทรายการ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.exam_type_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="exam_place">
              <mat-header-cell *matHeaderCellDef mat-sort-header> สถานที่สอบ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.exam_place}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="register_open_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> วันที่เปิดรับสมัคร </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.register_open_date}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="register_close_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ปิดรับสมัคร </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.register_close_date}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="exam_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> วันที่สอบ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.exam_date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="exam_time">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ช่วงเวลาสอบ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.exam_start_time.substr(0,5)}} - {{element.exam_end_time.substr(0,5)}}</mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="exam_end_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> เวลาหยุดสอบ </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.exam_end_time.substr(0,5)}} </mat-cell>
              </ng-container> -->

            <ng-container matColumnDef="announce_score_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ประกาศผลสอบ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.announce_score_date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cost">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ค่าสมัคร </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cost | number}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="seat">
              <mat-header-cell *matHeaderCellDef mat-sort-header> จำนวนที่นั่ง </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.seat | number}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="is_active">
              <mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.is_active == 1" class="text-green">เปิด</span>
                <span *ngIf="element.is_active !== 1" class="text-danger">ปิด</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status_seat_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> สถานะที่นั่ง </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <span *ngIf="element.status_seat_id == 1" class="text-green">{{element.status_seat_name}}</span>
									<span *ngIf="element.status_seat_id !== 1" class="text-danger">{{element.status_seat_name}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ดำเนินการ </mat-header-cell>

              <mat-cell *matCellDef="let element">
                <div>
                  <a [routerLink]="['/exam-data/exam-form']" [queryParams]="{id: element.id}" mat-icon-button
                    color="primary" matTooltip="แก้ไข">
                    <mat-icon>edit</mat-icon>
                  </a>

                  <button mat-icon-button color="warn" (click)='delete(element.id)' matTooltip="ลบ">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <a [routerLink]="['/exam-data/user-exam']" [queryParams]="{id: element.id}" mat-icon-button
                    color="primary" matTooltip="ผู้สมัคร">
                    <mat-icon>perm_identity</mat-icon>
                  </a>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
        </div>

        <div class="mat-table__bottom">
          <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [length]="dataSource.paginatorTotal$ | async"
            [showFirstLastButtons]="true"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>