<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 class="m-login__title">ลงทะเบียน</h3>
		<div class="m-login__desc">กรุณากรอกข้อมูล:</div>
	</div>
	<m-auth-notice></m-auth-notice>

	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

	<h6>ข้อมูลส่วนบุคคล</h6>
		<div class="form-group">
			<mat-form-field>
				<mat-select placeholder="ประเภทบัตร / Card type" (ngModelChange)="showCardfill($event)" [(ngModel)]="model.card_type_id" name="card_type_id" required>
				<mat-option *ngFor="let element of cardtypesData" [value]="element.id">
					{{element.card_name}}
				</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field *ngIf="displaythaiID;">
				<mat-label> หมายเลขประจำตัวประชาชน</mat-label>
				<input matInput  type="text" name="thaiID" placeholder="หมายเลขประจำตัวประชาชน" [(ngModel)]="model.card_no" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field *ngIf="displaypassport;">
				<mat-label> Passport Number </mat-label>
				<input matInput  type="text" name="PassportNumber" placeholder="Passport Number" [(ngModel)]="model.card_no" autocomplete="off" required>
			</mat-form-field>

		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-select placeholder="ประเภทผู้สมัครสอบ / Applicant type" (ngModelChange)="showid($event)" [(ngModel)]="model.app_type_id" name="Applicant_type_id" required>
					<mat-option *ngFor="let element of apptypesData" [value]="element.id">
						{{element.app_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field *ngIf="displayid;" >
				<mat-label> รหัสนิสิต / Student ID </mat-label>
				<input matInput type="text"  name="stu_id" placeholder=" รหัสนิสิต / Student ID " pattern ="([0-9]{8})" [(ngModel)]="model.stu_id" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field *ngIf="displayid;">
				<mat-select placeholder="คณะ / Faculty" (ngModelChange)="getdepart($event)" [(ngModel)]="model.faculty_id" name="Faculty" required>
					<mat-option *ngFor="let element of facultyData" [value]="element.id">
						{{element.faculty_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field *ngIf="displayid;">
				<mat-select placeholder=" สาขา / Department " [(ngModel)]="model.department_id" name="Department" required>
					<mat-option *ngFor="let element of departmentData" [value]="element.id">
						{{element.depart_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field *ngIf="displayid;">
				<mat-select placeholder=" ระดับการศึกษา / Level "  [(ngModel)]="model.level_id" name="level" required>
					<mat-option *ngFor="let element of levelData" [value]="element.id">
						{{element.level_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-select placeholder=" คำนำหน้า / Title "  (ngModelChange)="showothertitle($event)" [(ngModel)]="model.title_id" name="title" required>
					<mat-option *ngFor="let element of titleData" [value]="element.id">
						{{element.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field *ngIf="displayOtherTitle;">
				<mat-label>คำนำหน้าอื่นๆ</mat-label>
				<input matInput type="text" name="other_title"  placeholder=" คำนำหน้าอื่นๆ " [(ngModel)]="model.other_title" autocomplete="off" >
			</mat-form-field>

		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-label> ชื่อ / Firstname </mat-label>
				<input matInput type="text" name="firstname" placeholder=" ชื่อ / Firstname " [(ngModel)]="model.first_name" autocomplete="off" required>
			</mat-form-field>

			<mat-form-field>
				<mat-label> นามสกุล / Lastname </mat-label>
				<input matInput type="text" name="lastname" placeholder=" นามสกุล / Lastname " [(ngModel)]="model.last_name" autocomplete="off" required>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-label> อีเมล / Email </mat-label>
				<input matInput type="email" name="email" placeholder="Email address" autocomplete="off" [(ngModel)]="model.email" email="true" required>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-label> เบอร์โทรศัพท์ / Telephone Number </mat-label>
				<input matInput type="text" name="Telephone" placeholder="Telephone Number" pattern ="0([0-9]{9})" [(ngModel)]="model.phone_number" autocomplete="off"  required>
				<mat-error>เบอร์โทรศัพท์ไม้ถูกต้อง</mat-error>
			</mat-form-field>
		</div>
		<h6>ข้อมูลสำหรับติดต่อ</h6>
		<div class="form-group">
			<mat-form-field>
				<mat-label> ที่อยู่ปัจจุบัน / Address </mat-label>
				<input matInput type="text" name="Address" placeholder="ตัวอย่าง 10/50 หมู่ --- ซอย --- ถนน --- / Address (House Number) - Village Lane-Street" [(ngModel)]="model.address" autocomplete="off"  required>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field *ngIf="!displaypassport">
				<mat-select placeholder="จังหวัด / Province" (ngModelChange)="getDis($event)" [(ngModel)]="model.province_id" name="Province" required>
					<mat-option *ngFor="let element of provinceData" [value]="element.id">
						{{element.prov_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field *ngIf="!displaypassport">
				<mat-select placeholder=" อำเภอ / District " (ngModelChange)="getSubDis($event)" [(ngModel)]="model.district_id" name="Distirct" required>
					<mat-option *ngFor="let element of DistrictData" [value]="element.id">
						{{element.dist_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field *ngIf="!displaypassport">
				<mat-select placeholder=" ตำบล / Sub-district "  (ngModelChange)="getZipcode($event)" [(ngModel)]="model.sub_district_id" name="Sub_Distirct" required>
					<mat-option *ngFor="let element of SubdistrictData" [value]="element.id">
						{{element.sub_district_name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field *ngIf="!displaypassport">
				<mat-label> รหัสไปรษณีย์ / Postal Code </mat-label>
				<input matInput type="text" name="ZipCode" placeholder="รหัสไปรษณีย์" pattern ="([0-9]{5})" value='{{ZipcodeData}}' autocomplete="off" required>
			</mat-form-field>
		</div>
		<h6>ข้อมูลของบัญชี</h6>
		<div class="form-group">
			<mat-form-field>
				<mat-label> รหัสผ่าน / Password </mat-label>
				<input matInput minlength="4" type="password" name="password" placeholder="Password" autocomplete="off" [(ngModel)]="model.password" #password="ngModel" required>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-label> ยืนยันรหัสผ่าน / Confirm Password </mat-label>
				<input matInput minlength="4" type="password" name="rpassword" placeholder="Confirm password" autocomplete="off" [(ngModel)]="model.rpassword" #rpassword="ngModel" required>
			</mat-form-field>
		</div>

	</form>
	<!--end::Form-->
	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<button mat-button (click)="loginPage($event)" [disabled]="loading" translate="AUTH.GENERAL.BACK_BUTTON">กลับ</button>
		<m-spinner-button [options]="spinner" (click)="submit()">{{'AUTH.GENERAL.SIGNUP_BUTTON' | translate}}</m-spinner-button>
	</div>

	<!--end::Action-->
</div>


<!--end::Signin-->
