<div class="row">
  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="m-portlet__head-tools">
          <a [routerLink]="['/user/user-admin/add']" mat-raised-button color="primary"
            matTooltip="เพิ่มข้อมูลใหม่">เพิ่ม</a>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-form">
          <div class="m-form__filtration">
            <div class="row align-items-center">
              <div class="col-md-4 m--margin-bottom-10-mobile">
                <mat-form-field>
                  <input matInput #searchInput placeholder="ค้นหา" class="mat-form-field mat-form-field-fluid">
                  <mat-hint align="start">
                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="mat-table__wrapper">
          <mat-table [dataSource]="dataSource" matSort matSortStart="asc" class="lmat-elevation-z8" matSort
            matSortActive="id" matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบัญชีผู้ใช้งาน </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.card_no}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fullname">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-สกุล </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> อีเมล์ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ดำเนินการ </mat-header-cell>

              <mat-cell *matCellDef="let element">

                <a [routerLink]="['/user/user-admin/edit']" [queryParams]="{id: element.id}" mat-icon-button
                  color="primary" matTooltip="แก้ไข">
                  <mat-icon>edit</mat-icon>
                </a>&nbsp;

                <button mat-icon-button color="warn" (click)='delete(element.id)' matTooltip="ลบ">
                  <mat-icon>delete</mat-icon>
                </button>


              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
        </div>
        <div class="mat-table__bottom">
          <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" [length]="dataSource.paginatorTotal$ | async"
            [showFirstLastButtons]="true"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>