<form #form="ngForm" [formGroup]="userPasswordformGroup" class="m-form m-form--label-align-right" >
  <div class="m-portlet__body">
    <div class="row">
      <div class="col-lg-6 offset-lg-2">
        <!-- <m-pages-notice></m-pages-notice> -->
      </div>
    </div>
    <div class="form-group m-form__group row">
      <label class="col-lg-2 col-form-label">รหัสผ่าน:</label>
      <div class="col-lg-8">
        <mat-form-field class="example-full-width">
          <input type="password" matInput formControlName="password">
          <mat-error>
            <span *ngIf="userPasswordformGroup.controls.password.errors?.required"><strong>รหัสผ่าน</strong> ต้องการให้กรอก</span>
            <span *ngIf="userPasswordformGroup.controls.password.errors?.minlength"><strong>รหัสผ่าน</strong> ต้องมีอย่างน้อย 4 ตัว</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group m-form__group row">
      <label class="col-lg-2 col-form-label">ยืนยันรหัสผ่าน:</label>
      <div class="col-lg-8">
        <mat-form-field class="example-full-width">
          <input type="password" matInput formControlName="confirm_password" [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="userPasswordformGroup.controls.confirm_password.errors?.required"><strong>ยืนยันรหัสผ่าน</strong> ต้องการให้ระบุ </span>
            <span *ngIf="userPasswordformGroup.controls.confirm_password.errors?.minlength"><strong>ยืนยันรหัสผ่าน</strong> ไม่น้อยกว่า 4 ตัว </span>                          
          </mat-error>
          <mat-error *ngIf="userPasswordformGroup.hasError('notSame')"><strong>รหัสผ่าน</strong> ไม่ตรงกัน</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
      <button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>
    </div>
  </div>
  </div>
  </div>
</form>