<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 class="m-login__title">ลืมรหัสผ่าน ?</h3>
		<div class="m-login__desc">กรุณาระบุอีเมล์ของคุณเพื่อรับรหัสผ่านใหม่:</div>
	</div>

	<m-auth-notice></m-auth-notice>

	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
		<div class="form-group">
			<mat-form-field>
				<mat-label>อีเมล์</mat-label>
				<input matInput type="email" name="email" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" email="true"
				 required>
			</mat-form-field>
		</div>
	</form>
	<!--end::Form-->

	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<button mat-button (click)="loginPage($event)" [disabled]="loading" translate="ย้อนกลับ">ย้อนกลับ</button>
		<m-spinner-button [options]="spinner" (click)="submit()">ดำเนินการ</m-spinner-button>
	</div>
	<!--end::Action-->
</div>
<!--end::Signin-->