<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="m-portlet__head-tools">
            <button mat-raised-button color="primary" (click)="goBack()">กลับ</button>
          </div>
        </div>
      </div>

      <form [formGroup]="UserExamformGroup" class="m-form m-form--label-align-right">
        <div class="m-portlet__body">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">
              <label class="col-lg-2">ชื่อ:</label>
              <div class="col-lg-6">
                <strong>{{UserExamformGroup.value.user_exam_first_name}}</strong>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2">นามสกุล:</label>
              <div class="col-lg-6">
                <strong>{{UserExamformGroup.value.user_exam_last_name}}</strong>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2" *ngIf="UserExamformGroup.value.card_type_id == 1">เลขบัตรประชาชน:</label>
              <label class="col-lg-2" *ngIf="UserExamformGroup.value.card_type_id == 2">Passport No.:</label>
              <div class="col-lg-6">
                <strong>{{UserExamformGroup.value.user_exam_card_no}}</strong>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2">เลขที่นั่งสอบ:</label>
              <div class="col-lg-6">
                <strong>{{UserExamformGroup.value.seat_no}}</strong>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">คะแนน:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="กรุณาระบุคะแนน" formControlName="score">
                  <mat-error>คะแนนสอบ <strong>จำเป็นต้องระบุ</strong></mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">ผลการสอบ:</label>
              <div class="col-lg-6">
                <mat-radio-group name="is_pass" formControlName="is_pass">
                  <mat-label> สถานะการแสดงผล </mat-label><br><br>
                  <mat-radio-button [value]='1'>ผ่าน</mat-radio-button>
                  <mat-radio-button [value]='0'>ไม่ผ่าน</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>&nbsp;
                    <!-- <button mat-raised-button color="primary" (click)="hello()">บันทึก</button> -->
                    <button mat-raised-button (click)="goBack()">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>