table{
    width: 100%;
   }
   
.mat-column-id {

    flex: 0 0 10% !important;
    width: 28% !important;

  }
  .mat-column-action {

    flex: 0 0 15% !important;
    width: 50% !important;

  }
.mat-column-register_open_date {

     flex: 0 0 32% !important;
     width: 28% !important;

   }