#file_button {
  background: none!important;
  border: none;
  /* padding: 0!important; */
  /*optional*/
  /* font-family: arial, sans-serif; */
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#message {
  background: none!important;
  border: none;
  color: #FF0000;
  font-weight: bold;
  // border-bottom: 4px double;
  cursor: pointer;

}