<div class="row">
	<div class="col-xl-12">
		<div class="m-portlet">
			<div class="m-portlet__head">
				<!-- <div class="m-portlet__head-caption">
					สมัครสอบ
				</div> -->
				<div class="m-portlet__head-caption">
					{{ getComponentTitle() }}
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="m-form">

					<div class="m-form__filtration">
						<div class="row align-items-center">
							<div class="col-md-4 m--margin-bottom-10-mobile">
								<mat-form-field>
									<input matInput #searchInput placeholder="ค้นหา"
										class="mat-form-field mat-form-field-fluid">
									<mat-hint align="start">
										<strong>ค้นหาจากข้อมูลทั้งหมด</strong>
									</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>
				</div>
				<div class="mat-table__wrapper">

					<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
						matSortDirection="asc" matSortDisableClear>

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header>รายการ</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="exam_place">
							<mat-header-cell *matHeaderCellDef mat-sort-header>สถานที่สอบ</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.exam_place}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="register_open_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>วันที่เปิดรับสมัคร</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.register_open_date}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="register_close_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>วันที่ปิดรับสมัคร</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.register_close_date}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="exam_date">
							<mat-header-cell *matHeaderCellDef mat-sort-header>วันที่สอบ</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.exam_date}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="exam_time">
								<mat-header-cell *matHeaderCellDef mat-sort-header>ช่วงเวลาสอบ</mat-header-cell>
								<mat-cell *matCellDef="let item">{{item.exam_start_time.substr(0,5) + "-" + item.exam_end_time.substr(0,5)}}</mat-cell>
							</ng-container>
						<ng-container matColumnDef="cost">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ค่าสมัคร</mat-header-cell>
							<mat-cell *matCellDef="let item">{{item.cost | number}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="status_seat">
							<mat-header-cell *matHeaderCellDef mat-sort-header>สถานะ</mat-header-cell>
							<mat-cell *matCellDef="let item">
									<span *ngIf="item.status_seat_id == 1" class="text-green">{{item.status_seat_name}}</span>
									<span *ngIf="item.status_seat_id !== 1" class="text-danger">{{item.status_seat_name}}</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="seat">
							<mat-header-cell *matHeaderCellDef mat-sort-header>จำนวนที่นั่ง</mat-header-cell>
							<mat-cell *matCellDef="let item">
								<span
									*ngIf="item.status_seat_id == 1 && item.remain_seat > 0">{{item.remain_seat}}</span>
								<span *ngIf="item.status_seat_id == 1 && item.remain_seat == 0"
									class="text-blue">ไม่จำกัดที่นั่ง</span>
								<span *ngIf="item.status_seat_id == 2" class="text-danger">เต็ม</span>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="file">
							<mat-header-cell *matHeaderCellDef mat-sort-header>ไฟล์</mat-header-cell>
							<mat-cell *matCellDef="let item">
								<button id="file_button" *ngIf="( item.register_process == 1 || item.register_process == 3)" (click)="uploadSlip(item.user_exam_id, item.receipt_file)">อัปโหลดสลิป</button>
								<a id="file_button" *ngIf="item.receipt_file != null && item.receipt_file !=''"
									href="{{FILEUPLOAD_URL + item.receipt_file}}" target="_blank"
									rel="noopener noreferrer">เอกสารไฟล์แนบ</a>
								<p *ngIf="(item.register_process == 0)">-</p>
								<button id="file_button" *ngIf="(item.register_process == 4)">ใบเสร์จรับเงิน</button>
							</mat-cell>
						</ng-container>

						<ng-container matColumnDef="description">
								<mat-header-cell *matHeaderCellDef mat-sort-header>หมายเหตุ</mat-header-cell>
								<mat-cell *matCellDef="let item">
									<p *ngIf="(item.register_process != 3 || item.description == null|| item.description == '')">-</p>
									<button id="message" (click)="showdescription(item.description)" 
									*ngIf="(item.register_process == 3)">
									{{item.description | slice:0:4}}...</button>
								</mat-cell>
							</ng-container>

						<ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef>
								ดำเนินการ
							</mat-header-cell>
							<mat-cell *matCellDef="let item">
								<div *ngIf="item.status_seat_id == 1">
									<button *ngIf="item.register_process == 0" mat-raised-button color="primary"
										(click)="registerExam(item.id)">สมัคร</button>
									<span *ngIf="item.register_process == 1" class="text-danger">รอการชำระเงิน</span>
									<span *ngIf="item.register_process == 2" class="text-warning">รอการตรวจสอบ</span>
									<span *ngIf="item.register_process == 3" class="text-danger">สมัครไม่สำเร็จ</span>
									<span *ngIf="item.register_process == 4" class="text-green">สมัครแล้ว</span>
								</div>
								<div *ngIf="item.status_seat_id == 2" class="text-danger">เต็ม</div>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

					</mat-table>
					<div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
				</div>

				<div class="mat-table__bottom">
					<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
					<mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]"
						[length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>