<div class="row">
  <div class="col-xl-12 col-lg-8">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
      <div class="m-portlet__body">
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab label="ข้อมูลส่วนตัว">
            <form [formGroup]="userForm" class="m-form m-form--fit m-form--label-align-right">
              <div class="m-portlet__body">
                <div class="form-group m-form__group m--margin-top-10 m--hide">
                </div>
                <div class="form-group m-form__group row">
                  <div class="col-10 ml-auto">
                    <h3 class="m-form__section">ข้อมูลส่วนตัว</h3>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">หมายเลขบัตร:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="card_no" readonly>
                    </mat-form-field>
                  </div>
                </div>
               
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">ชื่อ:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุชื่อ" formControlName="fname" required>
                      <mat-error>ชื่อ <strong>จำเป็นต้องระบุ</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">นามสกุล:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุนามสกุล" formControlName="lname" required>

                      <mat-error>นามสกุล <strong>จำเป็นต้องระบุนามสกุล</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label class="col-lg-2 col-form-label">อีเมล์:</label>
                  <div class="col-lg-7">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ระบุอีเมล์" formControlName="email" required>

                      <mat-error>อีเมล์ <strong>จำเป็นต้องระบุ</strong></mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-6">
                  <button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>
                </div>
              </div>
              </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="รหัสผ่าน">
            <ng-template matTabContent>
              <m-profile-password-form></m-profile-password-form>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>