<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="m-portlet__head-tools">
            <button mat-raised-button color="primary" (click)="goBack()">กลับ</button>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="m-form">
          <div class="m-form__filtration">
            <div class="row align-items-center">
              <div class="col-md-4 m--margin-bottom-10-mobile">
                <mat-form-field>
                  <input matInput #searchInput placeholder="ค้นหา" class="mat-form-field mat-form-field-fluid">
                  <mat-hint align="start">
                    <strong>ค้นหาจากข้อมูลทั้งหมด</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="mat-table__wrapper">
          <mat-table [dataSource]="dataSource" matSort matSortStart="asc" class="lmat-elevation-z8" matSort
            matSortActive="id" matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="user_exam_first_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.user_exam_first_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="user_exam_last_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> นามสกุล </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.user_exam_last_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="user_exam_card_no">
              <mat-header-cell *matHeaderCellDef mat-sort-header> เลขบัตรประชาชน </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.user_exam_card_no}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="seat_no">
              <mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่นั่งสอบ </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                  <span *ngIf="element.seat_no==null">-</span>
                  <span *ngIf="element.seat_no">{{element.seat_no}} </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="score">
              <mat-header-cell *matHeaderCellDef mat-sort-header> คะแนน </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <span *ngIf="element.score == null">-</span>
                  <span *ngIf="element.score">{{element.score}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="is_pass">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ผลการสอบ </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.is_pass==1" class="text-primary">ผ่าน</span>
                <span *ngIf="element.is_pass==0" class="text-danger">ไม่ผ่าน</span>
                <span *ngIf="element.score == null ">-</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ดำเนินการ </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span *ngIf="element.action == '-'">{{element.action}}</span>
                <a *ngIf="element.action != '-'" [routerLink]="['/exam-score-admin-form']"
                  [queryParams]="{id: element.id}" mat-icon-button color="primary" matTooltip="แก้ไข">
                  <mat-icon>edit</mat-icon>
                </a>&nbsp;
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <div class="mat-table__message" *ngIf="!dataSource.hasItems">ไม่พบข้อมูล</div>
        </div>
        <div class="mat-table__bottom">
          <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
          <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" [length]="dataSource.paginatorTotal$ | async"
            [showFirstLastButtons]="true"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>