<div class="row">
  <div class="col-xl-12 col-lg-12">
    <div class="m-portlet m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            {{ getComponentTitle() }}
              <strong> {{ this.ExamData.name }} </strong>
          </div>

          <div class="m-portlet__head-tools">
            <a [routerLink]="['../']" mat-raised-button color="primary"
            matTooltip="กลับไปหน้าเดิม">กลับ</a>
          </div>
        </div>
        <div *ngIf="this.dataSource.data.length" class="make_center">
          ที่นั่งที่เหลือ: 
            <span *ngIf="this.ExamData.status_seat_id==1 && this.remain_seat > 0" class="text-success">{{this.remain_seat}}</span>
            <span *ngIf="this.ExamData.status_seat_id==1 && this.remain_seat == 0 && this.ExamData.seat == 0" class="text-primary">ไม่จำกัดที่นั่ง</span>
            <span *ngIf="this.ExamData.status_seat_id==2" style="font-size: large" class="text-danger">เต็ม</span>
        </div>
      <div class="m-portlet__body">
        <div class="m-form">
          <div class="m-form__filtration ">

          </div>
        </div>
        <div class="mat-table__wrapper">
        <mat-table class="mat-table__wrapper" [dataSource]="dataSource" matSort matSortStart="asc" class="lmat-elevation-z8" matSort
          matSortActive="id" matSortDirection="asc" matSortDisableClear>
          
            <ng-container matColumnDef="fname">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> ชื่อ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.first_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lname">
              <mat-header-cell *matHeaderCellDef  mat-sort-header> นามสกุล </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.last_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="seat_no">
              <mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่นั่งสอบ </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <p *ngIf="element.seat_no != null || element.seat_no != 0 "> {{element.seat_no}} </p>
                <p *ngIf="element.seat_no == 0 || element.seat_no == null"> - </p> 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="receipt_file">
              <mat-header-cell  *matHeaderCellDef mat-sort-header> ไฟล์แนบหลักฐานการชำระเงิน </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <!-- <p *ngIf="element.receipt_file != null">{{ element.receipt_file }}</p> -->
                <a *ngIf="element.receipt_file != null && element.receipt_file !=''"
                  href="{{FILEUPLOAD_URL + element.receipt_file}}" target="_blank"
                  rel="noopener noreferrer">เอกสารไฟล์แนบ</a>
                <p *ngIf=" element.receipt_file == null || element.receipt_file ==''"> - </p> 
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> การอนุมัติ </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                <mat-form-field class="example-full-width">
                  <mat-select [ngModel]='element.is_reg_confirmed' (ngModelChange)="showConfirmDialog($event, element.id, i)">
                    
                    <!-- <mat-option *ngIf="element.receipt_file" *ngFor="let item for reg_confirmed"[value]="item.id">{{item.name}}</mat-option> -->
                    <mat-option [value]="1">รอการชำระเงิน</mat-option>
                    <mat-option *ngIf="element.receipt_file" [value]="2" class="text-warning">รอการตรวจสอบ</mat-option>
                    <mat-option *ngIf="element.receipt_file" [value]="3" class="text-danger">สมัครไม่สำเร็จ</mat-option>
                    <mat-option [value]="4" class="text-green">สมัครแล้ว</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <form novalidate>
                  <div>
                    <mat-slide-toggle class="example-margin" (change)="confirm_check(element.id,element.index)" [checked]="element.is_reg_confirmed_boolean" [color]="primary">
                      <span *ngIf="element.is_reg_confirmed == 0" class="text-danger">รอการชำระเงิน</span>
                      <span *ngIf="element.is_reg_confirmed == 1" class="text-primary">อนุมัติแล้ว</span>
                    </mat-slide-toggle>
                  </div>
                </form> -->
              </mat-cell>              
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
        </mat-table>
        <div class="mat-table__message" *ngIf="!this.dataSource.data.length">ไม่พบข้อมูล</div>
        <mat-paginator
            [length]="dataSource.data.length"
            [pageIndex]="0"
            [pageSize]="50"
            [pageSizeOptions]="[25, 50, 100, 250]">
        </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>






