<div class="row">
  <div class="col-lg-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          {{ getComponentTitle() }}
        </div>
        <div class="d-flex flex-row-reverse">
          <div class="m-portlet__head-tools">
            <a [routerLink]="['../']" mat-raised-button color="primary" matTooltip="กลับไปหน้าแรก">กลับ</a>
          </div>
        </div>
      </div>

      <form [formGroup]="ExamformGroup" class="m-form m-form--label-align-right">
        <div class="m-portlet__body">
          <div class="m-form__section m-form__section--first">

            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">รายการ:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="กรุณาระบุชื่อรายการ" formControlName="name">
                  <mat-error>ชื่อรายการ <strong>จำเป็นต้องระบุ</strong></mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">ประเภทรายการ:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="กรุณาเลือกประเภท" formControlName="exam_type_name">
                    <mat-option *ngFor="let element of ExamTypeData" [value]="element.id">
                      {{element.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>ประเภทรายการ <strong>จำเป็นต้องเลือก</strong></mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">สถานที่สอบ:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="กรุณาระบุสถานที่สอบ" formControlName="exam_place">
                  <mat-error>สถานที่สอบ <strong>จำเป็นต้องระบุ</strong></mat-error>
                </mat-form-field>
              </div>
            </div>
          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">วันที่เปิดรับสมัคร:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="register_open_date" placeholder="วันที่เปิดรับสมัคร"
                  formControlName="register_open_date">
                <mat-datepicker-toggle matSuffix [for]="register_open_date"></mat-datepicker-toggle>
                <mat-datepicker #register_open_date></mat-datepicker>
                <mat-error>วันที่เปิดรับสมัคร <strong>จำเป็นต้องระบุ</strong></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">วันที่ปิดรับสมัคร:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="register_close_date" placeholder="วันที่ปิดรับสมัคร"
                  formControlName="register_close_date">
                <mat-datepicker-toggle matSuffix [for]="register_close_date"></mat-datepicker-toggle>
                <mat-datepicker #register_close_date></mat-datepicker>

                <mat-error>วันที่ปิดรับสมัคร <strong>จำเป็นต้องระบุ</strong></mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">วันที่สอบ:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="exam_date" placeholder="วันที่สอบ" formControlName="exam_date">
                <mat-datepicker-toggle matSuffix [for]="exam_date"></mat-datepicker-toggle>
                <mat-datepicker #exam_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">เวลาเริ่มสอบ:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                  <input matInput [ngxTimepicker]="exam_start_time" placeholder="เวลาเริ่มสอบ"
                    formControlName="exam_start_time" [format]="24">
                    <ngx-material-timepicker #exam_start_time></ngx-material-timepicker>
                  <mat-error>เวลาเริ่มสอบ <strong>จำเป็นต้องระบุ</strong></mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label class="col-lg-2 col-form-label">เวลาหยุดสอบ:</label>
              <div class="col-lg-6">
                <mat-form-field class="example-full-width">
                    <input matInput [ngxTimepicker]="exam_end_time" placeholder="เวลาหยุดสอบ"
                    formControlName="exam_end_time" [format]="24">
                    <ngx-material-timepicker #exam_end_time></ngx-material-timepicker>
                  <mat-error>เวลาหยุดสอบ <strong>จำเป็นต้องระบุ</strong></mat-error>
                </mat-form-field>
              </div>
            </div>
          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">วันที่ประกาศผลสอบ:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="announce_score_date" placeholder="วันที่ประกาศผลสอบ"
                  formControlName="announce_score_date">
                <mat-datepicker-toggle matSuffix [for]="announce_score_date"></mat-datepicker-toggle>
                <mat-datepicker #announce_score_date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">ค่าสมัคร:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="กรุณาระบุค่าสมัคร" formControlName="cost">

                <mat-error>ค่าสมัคร <strong>จำเป็นต้องระบุ</strong></mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">จำนวนที่นั่ง:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="กรุณาระบุจำนวนที่นั่ง" formControlName="seat">

                <mat-error>จำนวนที่นั่ง <strong>จำเป็นต้องระบุ</strong></mat-error>
              </mat-form-field>
            </div>
          </div>



          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">สถานะการแสดงผล:</label>
            <div class="col-lg-6">
              <mat-radio-group name="is_active" formControlName="is_active">
                <mat-label> สถานะการแสดงผล </mat-label><br><br>
                <mat-radio-button [value]='1'>เปิดสมัคร</mat-radio-button>
                <mat-radio-button [value]='2'>ปิดสมัคร</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">สถานะที่นั่ง:</label>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="กรุณาเหลือกสถานะที่นั่ง" formControlName="status_seat_name">
                  <mat-option *ngFor="let element of StatusSeatData" [value]="element.id">
                    {{element.name}}
                  </mat-option>
                </mat-select>
                <mat-error>สถานะที่นั่ง <strong>จำเป็นต้องเลือก</strong></mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit">
      <div class="m-form__actions m-form__actions">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-6">
            <button mat-raised-button color="primary" (click)="onSumbit(false)">บันทึก</button>&nbsp;
            <!-- <button mat-raised-button color="primary" (click)="hello()">บันทึก</button> -->
            <button mat-raised-button (click)="goBack()">ยกเลิก</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
</div>